/* Comienzan fuentes */

@font-face {
    font-family: "GoldenAge";
    src: url(../fonts/Gameplay.ttf);
}

@font-face {
    font-family: "Jersey";
    src: url(../fonts/jersey-m54-font.zip);
}

@font-face {
    font-family: "Number";
    src: url(../fonts/numberfont.ttf);
}

/* Finalizan fuentes */



@import "./components/_header.scss";
@import "./components/products.scss";
@import "./pages/producto-pc.scss";
@import "./pages/producto-xbox.scss";
@import "./pages/producto-ps.scss";
@import "./pages/producto-funko.scss";
@import "./pages/producto-figures.scss";
@import "./components/footer.scss";
@import "./components/jumbotron.scss";
@import "./base/base.scss";
@import "./utils/mixin.scss";
@import "./pages/index.scss";
@import "./components/carousel.scss";







