.product{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    box-shadow: 5px 5px 5px;
    width: 250px;
    height: 450px;


    .product-xbox-photo1{
        height: 300px;
        width: 250px;
        background-image: url(../images/xboxpictures/acblackflag.jpeg);
        background-position  : top center;
        background-size: cover;
        background-repeat: no-repeat;
    } 
    
    .product-xbox-photo2{
        height: 300px;
        width: 250px;
        background-image: url(../images/xboxpictures/callistoprotocol.png);
        align-self: flex-start;
        background-size: cover;
        background-position: top center;
        background-repeat: no-repeat;
    } 
    
    .product-xbox-photo3{
        height: 300px;
        width: 250px;
        background-image: url(../images/xboxpictures/codghost.jpeg);
        align-self: flex-start;
        background-size: cover;
        background-position:top center;
        background-repeat: no-repeat;
    } 
    
    .product-xbox-photo4{
        height: 300px;
        width: 250px;
        background-image: url(../images/xboxpictures/deadcells.png);
        align-self: flex-start;
        background-size: cover;
        background-repeat: no-repeat;
    } 
    
    .product-xbox-photo5{
        height: 300px;
        width:250px;
        background-image: url(../images/xboxpictures/dmc5.jpg);
        align-self: flex-start;
        background-size: cover;
        background-position:top center;
        background-repeat: no-repeat;
    } 
    
    .product-xbox-photo6{
        height: 300px;
        width: 250px;
        background-image: url(../images/xboxpictures/friday13.jpg);
        align-self: flex-start;
        background-size: cover;
        background-position:top center;
        background-repeat: no-repeat;
    } 
    
    .product-xbox-photo7{
        height: 300px;
        width: 250px;
        background-image: url(../images/xboxpictures/murderedsoul.jpg);
        align-self: flex-start;
        background-size: cover;
        background-position:top center;
        background-repeat: no-repeat;
    
    } 
    
    .product-xbox-photo8{
        height: 300px;
        width: 250px;
        background-image: url(../images/xboxpictures/ori.jpg);
        align-self: flex-start;
        background-size: cover;
        background-position:top center;
        background-repeat: no-repeat;
    } 
    
    .product-xbox-photo9{
        height: 300px;
        width: 250px;
        background-image: url(../images/xboxpictures/residentevil2.jpg);
        align-self: flex-start;
        background-size: cover;
        background-position:top center;
        background-repeat: no-repeat;
    } 
    
    
    .product-xbox-photo10{
        height: 300px;
        width: 250px;
        background-image: url(../images/xboxpictures/roadredemption.jpg);
        align-self: flex-start;
        background-size: cover;
        background-position:top center;
        background-repeat: no-repeat;
    } 
    
    
    .product-xbox-photo11{
        height: 300px;
        width: 250px;
        background-image: url(../images/xboxpictures/residentevil3.jpg);
        align-self: flex-start;
        background-size: cover;
        background-position:top center;
        background-repeat: no-repeat;
    } 
    
    
    .product-xbox-photo12{
        height: 300px;
        width: 250px;
        background-image: url(../images/xboxpictures/sinkingcity.jpg);
        align-self: flex-start;
        background-size: cover;
        background-position:top center;
        background-repeat: no-repeat;
    } 
    
    .product-xbox-photo13{
        height: 300px;
        width: 250px;
        background-image: url(../images/xboxpictures/sleepingdogs.jpg);
        align-self: flex-start;
        background-size: cover;
        background-position:top center;
        background-repeat: no-repeat;
    } 
    
    
    .product-xbox-photo14{
        height: 300px;
        width: 250px;
        background-image: url(../images/spyro.jpeg);
        align-self: flex-start;
        background-size: cover;
        background-position:top center;
        background-repeat: no-repeat;
    } 
    
    
    .product-xbox-photo15{
        height: 300px;
        width: 250px;
        background-image: url(../images/xboxpictures/tekken7.jpg);
        align-self: flex-start;
        background-size: cover;
        background-position:top center;
        background-repeat: no-repeat;
    } 
    
    
    .product-xbox-photo16{
        height: 300px;
        width: 250px;
        background-image: url(../images/xboxpictures/thewitcher.jpg);
        align-self: flex-start;
        background-size: cover;
        background-position:top center;
        background-repeat: no-repeat;
    } 

    .price-container{
        position: relative;
        display: flex;
        justify-content:center;
        height: 25px;
        width: 100%;
        
        .price{
            align-self: center;
            color: black;
            font-size: 15px;
            font-family: "Jersey", sans-serif;
            font-weight: bolder;
            margin-bottom: 10px;
            text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
        }
        
    }

    .product-name{
        color: white;
        font-size: 20px;
        margin-top: 10px;
        align-self: center;
        text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    }

    .buy-button{
        background-color:#fcc243;
        width: 150px;
        align-self: center;
        color: black;
        border-radius: 10px;
        border: none;
        padding: 7px;
        font-size: 15px;
        float: inline-start;
        margin-bottom: 10px;
        font-weight: bold;

        &:hover{
            background-color: grey;
            color: transparent;
            background-image: url(../images/icons/cart.ico);
            background-repeat: no-repeat;
            background-position: center;
            font-weight: bolder ;
            transition-property:all ;
            transition-duration: 0.5s;
            transition-timing-function:linear;
        }
    }
    


}