.product{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    box-shadow: 5px 5px 5px;
    width: 250px;
    height: 450px;


    .product-ps-photo-1{
        height: 300px;
        width: 250px;
        background-image: url(../images/pspictures/battlefieldv.jpg);
        background-position  : top center;
        background-size: cover;
        background-repeat: no-repeat;
    } 
    
    .product-ps-photo-2{
        height: 300px;
        width: 250px;
        background-image: url(../images/pspictures/acvalhalla.jpg);
        align-self: flex-start;
        background-size: cover;
        background-position: top center;
        background-repeat: no-repeat;
    } 
    
    .product-ps-photo-3{
        height: 300px;
        width: 250px;
        background-image: url(../images/pspictures/horizon.jpg);
        align-self: flex-start;
        background-size: cover;
        background-position:top center;
        background-repeat: no-repeat;
    } 
    
    .product-ps-photo-4{
        height: 300px;
        width: 250px;
        background-image: url(../images/pspictures/littlehope.jpg);
        align-self: flex-start;
        background-size: cover;
        background-repeat: no-repeat;
    } 
    
    .product-ps-photo-5{
        height: 300px;
        width:250px;
        background-image: url(../images/pspictures/marthaisdead.jpg);
        align-self: flex-start;
        background-size: cover;
        background-position:top center;
        background-repeat: no-repeat;
    } 
    
    .product-ps-photo-6{
        height: 300px;
        width: 250px;
        background-image: url(../images/pspictures/sackboy.jpg);
        align-self: flex-start;
        background-size: cover;
        background-position:top center;
        background-repeat: no-repeat;
    } 
    
    .product-ps-photo-7{
        height: 300px;
        width: 250px;
        background-image: url(../images/pspictures/gowragnarok.buy-button.jfif);
        align-self: flex-start;
        background-size: cover;
        background-position:top center;
        background-repeat: no-repeat;
    
    } 
    
    .product-ps-photo-8{
        height: 300px;
        width: 250px;
        background-image: url(../images/pspictures/spiderman.jpg);
        align-self: flex-start;
        background-size: cover;
        background-position:top center;
        background-repeat: no-repeat;
    } 
    
    .product-ps-photo-9{
        height: 300px;
        width: 250px;
        background-image: url(../images/pspictures/farcry6.webp);
        align-self: flex-start;
        background-size: cover;
        background-position:top center;
        background-repeat: no-repeat;
    } 
    
    
    .product-ps-photo-10{
        height: 300px;
        width: 250px;
        background-image: url(../images/pspictures/avengers.jpg);
        align-self: flex-start;
        background-size: cover;
        background-position:top center;
        background-repeat: no-repeat;
    } 
    
    
    .product-ps-photo-11{
        height: 300px;
        width: 250px;
        background-image: url(../images/pspictures/control.jpg);
        align-self: flex-start;
        background-size: cover;
        background-position:top center;
        background-repeat: no-repeat;
    } 
    
    
    .product-ps-photo-12{
        height: 300px;
        width: 250px;
        background-image: url(../images/pspictures/bf2042.jpg);
        align-self: flex-start;
        background-size: cover;
        background-position:top center;
        background-repeat: no-repeat;
    } 
    
    .product-ps-photo-13{
        height: 300px;
        width: 250px;
        background-image: url(../images/pspictures/crash3.jpg);
        align-self: flex-start;
        background-size: cover;
        background-position:top center;
        background-repeat: no-repeat;
    } 
    
    
    .product-ps-photo-14{
        height: 300px;
        width: 250px;
        background-image: url(../images/pspictures/deathstranding.jpg);
        align-self: flex-start;
        background-size: cover;
        background-position:top center;
        background-repeat: no-repeat;
    } 
    
    
    .product-ps-photo-15{
        height: 300px;
        width: 250px;
        background-image: url(../images/pspictures/gothamknights.jpg);
        align-self: flex-start;
        background-size: cover;
        background-position:top center;
        background-repeat: no-repeat;
    } 
    
    
    .product-ps-photo-16{
        height: 300px;
        width: 250px;
        background-image: url(../images/pspictures/arkhamknight);
        align-self: flex-start;
        background-size: cover;
        background-position:top center;
        background-repeat: no-repeat;
    } 

    .price-container{
        position: relative;
        display: flex;
        justify-content:center;
        height: 25px;
        width: 100%;
        
        .price{
            align-self: center;
            color: black;
            font-size: 15px;
            font-family: "Jersey", sans-serif;
            font-weight: bolder;
            margin-bottom: 10px;
            text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
        }
        
    }

    .product-name{
        color: white;
        font-size: 20px;
        margin-top: 10px;
        align-self: center;
        text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    }

    .buy-button{
        background-color:#fcc243;
        width: 150px;
        align-self: center;
        color: black;
        border-radius: 10px;
        border: none;
        padding: 7px;
        font-size: 15px;
        float: inline-start;
        margin-bottom: 10px;
        font-weight: bold;

        &:hover{
            background-color: grey;
            color: transparent;
            background-image: url(../images/icons/cart.ico);
            background-repeat: no-repeat;
            background-position: center;
            font-weight: bolder ;
            transition-property:all ;
            transition-duration: 0.5s;
            transition-timing-function:linear;
        }
    }
    


}